*{
    margin: 0;
    padding: 0;
    box-sizing: center;
    font-family: 'inter',sans-serif,'Montserrat',sans-serif;
}

body{
    background-image: url("assets/image.jpg");
    background-size: cover;
    display: flex;
    height: 100vh;
}

.me{
    display: flex;
    width: 300px;
    border-radius: 200px;
    opacity: 90%;
    transition: .3s ease,.3s ease;
}

.header{
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
}
.logo{
    font-size: 60px;
    color: bisque;
    text-decoration: none;
    font-weight: 800;
}
.contact{
    font-size: 22px;
    font-weight: 300;
    color: bisque;
    text-decoration: none;
    transition: .3s ease, .3s ease-out;
}
.start{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.start-content{
    background: transparent;
    color: bisque;
    max-width: 500px;
}
.start-content h1{
    font-size: 60px;
    font-weight: 700;
}
.start-content h2{
    padding-top: 2%;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
}
.start-content p{
    font-size: 22px;
    font-weight: 300;
}
.start-content a:hover{
    font-size: 24px;
}
.start-content img:hover{
    transform: scale(1.10);
}